* { 
    font-family: sans-serif; 
    margin: 0; 
    box-sizing: border-box;
    } 

.container {
     overflow: hidden;
    background-color: white; ;
}

.heading {
    padding: 15px;
    background-color: white;
}

.page {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #EAEDF0;
    border: 1px solid red;
    margin-top: 10px;
}

.list {
    padding: 10px;
    margin-top: 10px;
}

* p {
    margin-top: 10px;
    margin-bottom: 10px; /* This is a rather wacky way of laying out a paragraph, I know... */
    margin-left: 10px;
}

.footer {
    height: 200px;
    background-color: #dd66ee99;
}

* img {
    height: auto;
    max-width: 500px;
    }